<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ex">
            
        </div>

        <div class="col-md-6 fpw-body ">
        
                <br>
                <h1>Submit your details</h1>
                <h3>Saurbh gupta </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>

                <h6>Confirm Mobile Number</h6>
                <h6>85******03</h6>

                <input type="tel" name="mobileNumber" class="col-md-4 fpw-input" [(ngModel)]="fpw.phoneNuber">
                <br>
                <br>
                <h6>Confirm Email ID</h6>
                <h6>**************@gmail.com</h6>
                <input type="email" name="emailid" class="col-md-12 fpw-input" [(ngModel)]="fpw.emailId">
                <br>
                <br>
                <h6>Select Communication</h6>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example" [(ngModel)]="fpw.sms">
                    <label class="custom-control-label" for="customCheck">SMS</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="example1" [(ngModel)]="fpw.voice">
                    <label class="custom-control-label" for="customCheck1">Voice</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck2" name="example2" [(ngModel)] = "fpw.email">
                    <label class="custom-control-label" for="customCheck2">Email</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck3" name="example3" [(ngModel)]="fpw.mms">
                    <label class="custom-control-label" for="customCheck3">MMS</label>
                </div>
                <br>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="example4" />
                    <label class="custom-control-label decoration" for="customCheck4">I accept the <a href="page.html">Terms &
                            conditions</a></label>
                </div>

                                <button type="submit" (click)="saveForgetPassword()" class="btn btn-primary">Submit</button>
                
        </div>