.ex{
    background-color:blue; 
    max-height: 700px;
    
    }
    input {
        background-color:lightgrey; 
        border-radius: 5px ; 
        border: none; 
    
       }
       .fpw-body{

        padding-left: 70px;
        font-family: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
       }
       .custom-control-label{
        padding-left: 10px;
        
      }
      .custom-control-input{
        line-height: 0.7;
      }
      .decoration{
        text-decoration: none;
      }
      button{
    margin-left: 500px;
      }
    